<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518420556373-e2f2e2mjg5uot3u3egb5r1h0334vfq95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518420556373-e2f2e2mjg5uot3u3egb5r1h0334vfq95</string>
	<key>API_KEY</key>
	<string>AIzaSyAfuBybiJCh5VIvcRATupH65dDTUCjab8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>518420556373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hse-coursework.SimplifierApp</string>
	<key>PROJECT_ID</key>
	<string>textsimplifier</string>
	<key>STORAGE_BUCKET</key>
	<string>textsimplifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518420556373:ios:b48b52ca66cbaca96c82dc</string>
</dict>
</plist>